[Unit]
Description=Substratheus
Requires=network-online.target
After=network-online.target

[Service]
User=debian
Group=debian
Restart=on-failure
Environment="SUB_HOST=0.0.0.0"
Environment="SUB_PORT=8080"
Environment="SUB_CONFIG=/path/to/config.yml"
ExecStart=/usr/bin/substratheus -c $SUB_CONFIG --host $SUB_HOST --port $SUB_PORT

[Install]
WantedBy=multi-user.target
